@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --nav-text-color:#fff;
    --bg-color:#250821;
    --hover-color:#12f7ff;
    --text-shadow:0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6),
    0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6),
    0 0 50px rgba(18, 247, 255, 0.6),
    0 0 80px rgba(18, 247, 255, 0.6),
    0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
    --dark-color:#292e33;
    --big-font:2.5rem;
    --normal-font:2rem;
}



body{
    font-family: "Poppins",sans-serif;
    background-color: var(--bg-color);
    color: var(--nav-text-color);
    overflow-y: auto !important;

	header.MuiAppBar-positionFixed {
		z-index: 1000 !important;
		padding-right: 0 !important;
	}

	&:has(#delete-modal, #menu-open, #customized-dialog-title) {
		overflow: hidden !important;
    }
    

}


*::-webkit-scrollbar {
	width: 10px !important;
}

*::-webkit-scrollbar-track {
	background-color: #f9f9f9 !important;
}

*::-webkit-scrollbar-thumb {
	background-color: #f9f9f9 !important;
	border-radius: 10px !important;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #555 !important;
}

* {
	scrollbar-width: thin !important;
	scrollbar-color: #ededed unset !important;
}


span{
    color: var(--hover-color);
}

nav{
    /* background: linear-gradient(90deg, rgba(195,192,255,1) 0%, rgba(115,224,255,1) 16%, rgba(0,155,255,1) 100%); */
    overflow: hidden;
    margin: -7px -8px 0 -7px;
    padding: 16px;
    text-align: center;
    justify-content: space-between;
}

nav a{
    float: left;
    display: block;
    color: var(--nav-text-color);
    text-align: center;
    font-weight: 600;
    padding: 6px 20px;
    text-decoration: none;
    /* border: 1px solid; */
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

nav a:hover {
    color: var(--hover-color);
    text-shadow: var(--text-shadow);
}
.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--dark-color);
    float: left;
    cursor: pointer;
}

@media (max-width: 768px) {

    nav a {
        display: none;
    }
    
    .menu-icon {
        display: block;
    }


    #nav-links.active a {
        display: block;
        float: none;
        background-color: unset; 
        margin: 5px 0;
        color: #fff;
        text-align: left;
        width: 46px;
        max-width: 46px;
        min-width: 46px;
        transition: background-color 0.3s ease, color 0.3s ease; 
    }
    #nav-links.active a:hover{
        background-color: #fff;
    color: #4d7ff5;
    }

    
    #nav-links {
        text-align: left;
        padding-left: 40px;
    }
}

.avatar{
    margin-left: auto;
    float: right;
    img{
        border-radius: 50%;
        width: 43px;
        height: 36px;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow to emphasize the sticky state */
    background-color: var(--bg-color);
}

/* Optional: To adjust padding or background when sticky */
.sticky nav {
    padding: 10px 0; /* Reduce padding to make the sticky navbar more compact if needed */
    background-color: var(--bg-color); /* Keeps the original background color when sticky */
}
section{
    padding: 100px 7%;
}

footer{
    background-color: #414141;
    color: #ffffff;
    padding: 40px 0;
}
.home{
   height: 100%;
   background-color: var(--bg-color);
   color: var(--nav-text-color);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
 font-size: var(--big-font);
 font-weight: 700;
}
.text-change{
    font-size: 1.5rem;
    font-weight: 600;
}
.text-change h3{
display: inline-flex;
margin: 0;
vertical-align: top;
}
.text-change h3 .text {
    position: absolute;
    display: flex;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.text-change h3 .text .letter {
    display: inline-block;
    transform-origin: center center 25px;
}
.text-change h3 .text .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.text-change h3 .text .letter.behind {
    transform: rotateX(-90deg);
    transition: none;
}

.text-change h3 .text .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.header-btn {
    background-color: #ef3030;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    color: var(--nav-text-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.header-btn:hover {
    background-color: #ef1616;
    box-shadow: 0px 4px 20px rgba(68, 137, 241, 0.2);
    cursor: pointer;
    transform: translateY(-2px);
}
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 300px; 
    height: auto;
    z-index: 2;
    position: relative;
    border-radius: 10px;
    margin-left: 120px;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Adjust for the size of the glowing effect */
    height: 150%;
    background: radial-gradient(circle, rgba(0, 204, 255, 0.6), transparent 70%);
    border-radius: 50%; /* Makes the shape circular */
    z-index: 1;
    opacity: 0;
    animation: glowEffect 3s ease-in-out infinite;
}

@keyframes glowEffect {
    0% {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0.5;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0.5;
    }
}


.social-btn{
 margin: 38px 0 0 0;
 
}

.social-btn a {
    display: inline-block;
    margin-right: 10px;
}

.social-btn a svg {
    width: 24px;
    height: 24px;
    fill: var(--nav-text-color); /* Default color */
    transition: fill 0.3s ease; /* Smooth transition for hover effect */
}

.social-btn a:hover svg {
    fill: #ef1616; /* Color change on hover */
}

.about{
    background-color: var(--nav-text-color);
    color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    height: 100%;
}

.about h2{
    font-size: var(--normal-font);
}
.about h2 span{
   color: var(--hover-color);
}

.contact h2{
    font-size: var(--normal-font);
}
.contact h2 span{
   color: var(--hover-color);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-container div {
    flex: 1 1 250px;
    margin-bottom: 30px;
}

/* Social Media Links */
.social-media h4, .newsletter h4, .contact-info h4 {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.social-media ul {
    list-style: none;
    padding: 0;
}

.social-media ul li {
    margin-bottom: 10px;
}

.social-media ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.social-media img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.social-media ul li a:hover {
    color: #00acee; /* Twitter Blue */
}

/* Newsletter Subscription */
.newsletter p {
    margin-bottom: 10px;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #ff6600; /* Tesla red-orange */
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter button:hover {
    background-color: rgba(255, 102, 0, 0.8); /* Semi-transparent on hover */
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li a {
    color: #ffffff;
    text-decoration: none;
}

.contact-info ul li a:hover {
    text-decoration: underline;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

.footer-bottom a {
    color: #ff6600;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/* Responsive Footer */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-container div {
        flex: 1 1 100%;
    }

    .newsletter input[type="email"] {
        width: 100%;
    }
}
.name_container{
    background-color: #00acee;
}


.contact-section {
    padding: 20px;
    background-color: #f9f9f9;
}

.contact-section h2 {
    font-size: 24px;
}

.contact-section ul {
    list-style: none;
    padding: 0;
}

.contact-section li {
    margin: 5px 0;
}

#contactButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#contactButton:hover {
    background-color: #0056b3;
}


.modal {
    display: none;  
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: flex;
}


.modal-content {
    background-image: url('./images/modalBg.webp');  
    background-size: cover;
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 8px;
}

.modal h2 {
    margin-bottom: 20px; 
    color: var(--bg-color);
}

.modal h2 span {
    color: var(--hover-color);
}

.modal form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.modal label {
    display: block;
    width: 100%;
    margin-bottom: 5px; 
    font-weight: bold;
    color: var(--bg-color);
}

.modal input, 
.modal textarea {
    width: 100%; 
    padding: 12px;
    margin-bottom: 15px; 
    border: 1px solid #888;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.modal button[type="submit"]:hover {
    background-color: #45a049;
}


.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


body.modal-open {
    overflow: hidden;
}


.contact-cards {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    flex: 1;
    min-width: 250px;
    max-width: 300px; /* Set a max-width to control card size */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    color: var(--bg-color);
    text-align: left;

    &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }

    .card-content {
        display: flex;
        align-items: center;
        gap: 12px; /* Space between the icon and text */
    }

    img {
        width: 80px; /* Set size for the icon */
        height: 80px;
    }

    div {
        max-width: 100%; /* Ensure the inner content stays within the card's width */
        overflow-wrap: break-word; /* Prevent long text from overflowing */
        word-wrap: break-word;
        word-break: break-all; /* Break long words if needed */
    }

    a {
        color: #3498db;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    strong {
        display: block;
        font-size: 16px;
        margin-bottom: 4px;
    }
}

.m-1{
    margin: 30px 0;
}

.social-btn {
    display: flex;
    gap: 15px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 80px; /* Reduced width */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 4px; /* Smaller border radius */
    padding: 5px 0; /* Reduced padding */
    font-size: 12px; /* Smaller font size */
    position: absolute;
    z-index: 1;
    top: 110%; /* Adjusted to position below the button */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
    content: '';
    position: absolute;
    bottom: 100%; /* Arrow above the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
