:root{
    --nav-text-color:#fff;
    --bg-color:#250821;
    --hover-color:#12f7ff;
    --text-shadow:0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6),
    0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6),
    0 0 50px rgba(18, 247, 255, 0.6),
    0 0 80px rgba(18, 247, 255, 0.6),
    0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
    --dark-color:#292e33;
    --big-font:2.5rem;
    --normal-font:2rem;
}