@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-primary: #06b6d4;
  --color-secondary: #64748b;
  --color-accent: #12f7ff;
  --color-dark: #020617;
  --font-sans: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-white font-sans overflow-x-hidden;
  }
}